@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Fira Mono', -apple-system, BlinkMacSystemFont, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #222831;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.kanye {
  text-align: center;
  display: block;
  padding: 20px;

  color: #EEEEEE;
  font-weight: 400;
  font-size: 24px;

  animation: fade-in 4s;
}


.snippetGroup {
  text-align: center;
  display: block;

  background-color: #393E46;
  color: #EEEEEE;
}

.snippet {
  padding: 20px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
}

.navigationBar {
  text-align: right;
  display: block;
  padding-top: 20px;
  padding-right: 20px;

  animation: slide-left 4s;
}

.navigationBarItem {
  padding: 20px;

  color:aliceblue;
  font-size: 18px
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-right {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}
