@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Fira Mono', -apple-system, BlinkMacSystemFont, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #222831;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.kanye {
  text-align: center;
  color: #EEEEEE;
  font-weight: 400;
  font-size: 30px;
  margin: 20px;
}